@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400&family=Clicker+Script&family=Dancing+Script:wght@600&family=Lora&family=Nunito:wght@200;300;400;600;700&family=Playfair+Display:ital@1&family=Poppins:wght@100;200;300;500;600&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zeyada&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-buttons {
    margin-left: 60%;
}

body {
    font-family: 'poppings' sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-weight: 350;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

h6 {
    color: #D8D8D8;
}

th {
    font-weight: 400;
}

button {
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    padding: 13px 30px;
    background-color: #1d1d1d;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #D4AF37;
}

.navbar {
    font-size: 16px;
    padding-top: 1.6rem !important;
    padding-bottom: 1.5rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 15px;
    color: #000;
    transition: 0.4 ease;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active .navbar i:hover {
    color: coral;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    cursor: pointer;
    margin-left: 5px;
}

.navbar .logo,
footer .logo {
    text-decoration: none;
    color: #fb774b;
    font-family: cursive;
    font-weight: 700;
    font-size: 1.6rem;
}

@media only screen and (max-width:990px) {
    .nav-buttons {
        margin: 10px;
    }

    .nav-buttons ul {
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fas {
        margin: 30px 5px 10px 20px;
    }

    .nav-buttons ul li {
        margin-inline: auto;
        margin-bottom: 20px;
    }

    #home .container p {
        width: 90%;
    }
}

#home {
    background-image: url('../imgs/home.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
    color: #fff;
}
#home .search{
    position: absolute;
    width: 30%;
    margin-inline: 35%;
    margin-top: -450px;
    display: none;
}
#home .search i{
    font-size: 1.6rem;
    margin: 5px;
    color: #fb774b;
   

}
#home span {
    color: coral;
}

#home p {
    font-size: 1.2rem;
    width: 45%;
}

#home p span {
    color: coral;
    font-size: 1.6rem;
    font-weight: 500;
}

#new .one img {
    width: 50vh;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one {
    position: relative;

}

#new .one .details {
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.8;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 100%;
}

#brand img {
    font-size: 1rem;
}

#new .one .details h2 {
    font-size: 2rem;
}

#new .one .details:hover {
    background-color: darkgoldenrod;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.product {
    cursor: pointer;
    margin-bottom: 2rem;

}

.product image {
    transition: 0.7s ease;
}

.product:hover img {
    opacity: 0.7;
}

.product .buy-btn {
    background-color: #fb774b;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn {
    transform: translateY(0px);
    opacity: 1;
}

hr {
    width: 30px;
    height: 4px !important;
    opacity: 1 !important;
    background-color: #fb774b;
    border: none;
    border-radius: 10px;
    margin-inline: auto;
}

.start {
    padding: 10px 0;
}

.start i {
    font-size: 0.9rem;
    color: goldenrod;
}

#banner {
    background-image: url('../imgs/home.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

#banner h1 {
    color: coral;
}

#banner button {
    background-color: #fb774b;
}

#banner button:hover {
    background-color: #1d1d1d;
}

footer {
    background-color: #222222;
}

footer h5 {
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
    list-style-type: none;
}

footer  li a {
    text-decoration: none;
    color: #D8D8D8;
}

footer li a:hover {
    color: #fb774b;
}

footer .copyright a {
    color: #000;
    height: 40px;
    font-size: 1.2rem;
    margin-right: 10px;
}

footer p {
    color: #999;
    font-size: 0.7rem;
}

footer .fab {
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single_product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single_product input:focus {
    outline: none;
}

.single_product .buy-btn {
    background-color: #fb774b;
    opacity: 1;
    transition: 0.4s all;
}

.single_product .buy-btn:hover {
    background-color: #222222;
}

.single_product #mainImg {
    width: 70%;
}

/* Cart*/
.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart th {
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774b;
}

.cart td {
    padding: 10px 20px;
}

.cart td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td a {
    color: #fb774b;
}

.cart input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.cart .remove-btn,
.cart .edit-btn {
    color: #fb774b;
    text-decoration: none;
    font-size: 15px;
}

.cart .product-info p {
    margin: 3px;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
}

.cart-total table {
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.checkout-container {
    display: flex;
    justify-content: flex-end;
}

.checkout-btn {
    background-color: #fb774b;
    transition: 0.7s ease;
    color: #fff;
}

.checkout-btn:hover {
    color: #fff;
    background-color: #1d1d1d;
}

/* Login*/
#login-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#login-form input {
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn {
    background-color: #fb774b;
    color: #fff;
}

#login-form #register-url {
    color: #fb774b;

}

/*Register*/
#register-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#register-form input {
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn {
    background-color: #fb774b;
    color: #fff;
}

#register-form #login-url {
    color: #fb774b;

}

/* Account*/
#account-form {
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input {
    margin: 5px auto;
}

#account-form #change-pass-btn {
    color: #fff;
    background-color: #fb774b;
    transition: 0.4s ease;
}

#account-form #change-pass-btn:hover {
    background-color: #1d1d1d;
}

.account-info #orders-btn,
#logout-btn {
    color: #fb774b;
    text-decoration: none;
}

.account-info #orders-btn:hover,
#logout-btn:hover {
    color: #1d1d1d;
    transition: 0.4s ease;
}



/*checkout*/

#checkout-form .checkout-small-element {
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element {
    width: 96%;
}

#checkout-form .checkout-btn-container {
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn {
    color: #fff;
    background-color: #fb774b;
}

#checkout-form #checkout-btn:hover {
    background-color: #1d1d1d;
    transition: 0.4s ease;
}

/* Contact*/
#contact span {
    color: #fb774b;
    margin-left: 10px;
}