@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400&family=Clicker+Script&family=Dancing+Script:wght@600&family=Lora&family=Nunito:wght@200;300;400;600;700&family=Playfair+Display:ital@1&family=Poppins:wght@100;200;300;500;600&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zeyada&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-buttons {
    margin-left: 40% !important;
}

.navbar-toggler:hover {
    background-color: coral;
}

body {
    font-family: 'Poppings', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

h4 {
    font-size: 1.2rem;
    font-weight: 200;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

h6 {
    font-size: 0.9rem;
    color: #D8D8D8;
}


button {
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

button:hover {
    background-color: #fb774b;
}

.navbar {
    font-size: 16px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.navbar .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.navbar .logo .title-logo {
    font-family: "Alexandria";
    padding: 0 5px;
    font-size: 1.4rem;
    font-weight: 800;
    color: coral;
}


.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 0 20px !important;
    color: #000;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar .nav-item i:hover {
    color: #ff7f50 !important;
    cursor: pointer;
}

.navbar-light .navbar-nav .active {
    color: coral !important;
}

.navbar .nav-item i {
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 700;
    margin-left: 5px;
}

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;
    background: rgba(5, 5, 5, 0.911);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem !important;
    transition: 0.6s ease;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 30rem;
    border: 0px;
    border-bottom: .1rem solid #fff;
    padding: 0.5rem 0;
    color: #fff;
    font-size: 1.5rem;
    text-transform: none;
    background: none;
    outline: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}


#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 2rem;
    padding: 10px;
}

#search-form label:hover {
    color: #ff7f50;
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    transition: 0.5s ease;
}

#search-form #close:hover {
    color: coral;
}

#home {
    background-image: url('../imgs/background2.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: coral;
}

#new .one img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one {
    position: relative;
}

#new .one .details {
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.5;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover {
    background-color: darkgoldenrod;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;

}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

/* Product*/

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img {
    transition: 0.3s ease;
}

.product:hover img {
    opacity: 0.7;
}

.product .buy-btn {
    background-color: #fb774b;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn {
    transform: translateY(0px);
    opacity: 1;
}

hr {
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: #fb774b;
    margin-inline: auto;
    border-radius: 5px;
}

.start {
    padding: 10px 0;
}

.start i {
    font-size: 0.9rem;
    color: goldenrod;
}


#banner {
    background-image: url("../imgs/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position-x: center;
    align-items: center;
    cursor: pointer;
}

#banner button {
    background-color: #fb774b;
}

#banner button:hover {
    background-color: #1d1d1d;
}


footer {
    background-color: #222222;
}

footer h5 {
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
    list-style: none;

}

footer li a {
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}

footer li a:hover {
    color: #D8D8D8;
}

footer .copyright a {
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover {
    color: #fff;
    background-color: #fb774b;
}

footer p {
    color: #999;
    font-size: 0.8rem;
}


.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-product input:focus {
    outline: none;
}

.single-product .buy-btn {
    background-color: #fb774b;
    opacity: 1;
    transition: 0.5s ease;
}

.single-product .buy-btn:hover {
    background-color: #222222;
}


/* Cart*/
.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart th {
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774b;
}

.cart td {
    padding: 10px 20px;
}

.cart td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td a {
    text-decoration: none;
    color: #fb774b;
}

.cart td input {
    width: 50px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.cart td input:focus {
    outline: none;
}

.cart .product-info p {
    margin: 3px;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
}

.cart-total table {
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.checkout-container {
    display: flex;
    justify-content: flex-end;
}

.checkout-btn {
    background-color: #fb774b;
    color: #fff;
}

.checkout-btn:hover {
    background-color: #222222;
    color: #fff;
}


.filter .item {
    width: 200px;
    padding: 7px 5px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #1d1d1d;
    color: rgb(229, 241, 251);
    transition: 0.5s ease;
}

.filter .item:hover {
    background-color: #fb774b;
}

.show-bar {
    position: absolute;
    top: 20%;
    left: -100%;
    z-index: 111;
    width: 20%;
    margin-left: 20px;
    transition: 0.5s ease-in-out;
}

.aside-bar {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #0000001a;
    height: 100vh;
    width: 100%;
}

.aside-bar .fa-x {
    color: #000;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.5s ease;
    float: right;
    padding-top: 20px;

}

.aside-bar .fa-x:hover {
    color: coral;
    transform: scale(1.2);

}

.aside-bar .sidebar-nav {
    padding: 40px 10px;
}

.aside-bar li {
    list-style: none;
    padding: 10px;
    font-size: 1.1rem;
    justify-content: space-around;

}

.aside-bar li a {
    text-decoration: none;
    color: #222222;
    padding: 6% 70% 6% 3%;
    transition: 0.5s ease;

}

.aside-bar a:hover {
    box-shadow: 0 0 10px #0000001a;
}

.aside-bar .sidebar-dropdown {
    padding-top: 5px;
}

.pagination .page-item a {
    background-color: #222222 !important;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.5s all;
}

.pagination .page-item a:focus {
    box-shadow: none;
}

.pagination .page-item a:hover {
    background-color: #fb774b !important;
}


/*login*/

#login-form,
#register-form {
    width: 50%;
    margin-inline: auto;
    text-align: center;
    margin: 5px auto;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#login-form input,
#register-form input,
#account-form input {
    width: 50%;
    margin: 5px auto;
}
#login-form input:focus,
#register-form input:focus,
#account-form input:focus {
    outline: none;
    box-shadow: none;
    box-sizing: none;
    border: 1px solid #222222;
}


#login-form #login-btn,
#register-form #register-btn,
#account-form .btn {
    background-color: #fb774b;
    color: #fff;
    transition: 0.5s ease;
}

#login-form #login-btn:hover,
#register-form #register-btn:hover,
#account-form .btn:hover {
    background-color: #222222;
}

#login-form #register-url,
#register-form #register-btn:hover #account-form .btn:hover {
    color: #fb774b;
}


.account-info a{
    text-decoration: none;
    color: #fb774b;
    transition: 0.5s ease;
}

.account-info a:hover{
    color: #222222;
}



/*checkout*/


#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}
#checkout-form  input:focus{
    outline: none;
    box-shadow: none;
    box-sizing: none;
    border: 1px solid #222222;
}

#checkout-form .checkout-large-element{
    width: 96%;
}

#checkout-form .checkout-btn-element{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}
#checkout-form #checkout-btn{
    color: #fff;
    background-color: #fb774b;
    text-transform: uppercase;
    transition: 0.5s ease;
}
#checkout-form #checkout-btn:hover{
    background-color: #222222;
}


@media only screen and (max-width:990px) {
    .nav-buttons {
        margin-left: 10px !important;
    }

    .nav-buttons ul {
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fa-x {
        margin: 20px 5px 10px 20px;
    }

    #home {
        background-image: url('../imgs/background4.jpg');
        background-position-x: 40%;
    }

    .show-bar {
        width: 90%;
        top: 20%;
    }

    .cart .product-info p {
        display: none;
    }


}